/* General Body Styling */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #ffffff;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #333333;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Adjust based on the actual logo size */
  margin-right: 15px;
}

h1 {
  margin: 0;
  color: #e0e0e0;
  font-size: 24px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Initial state of the burger */
.burger div {
  transition: all 0.3s ease;
}

/* Animated states */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Navigation Links Styling */
.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: color 0.3s ease-out;
  color: #e0e0e0;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li a:hover {
  color: #bdbdbd;
}

/* Hero Section Styling */
.hero {
  background: url("examples/background.jpg") no-repeat center center/cover;
  color: #ffffff;
  padding: 55rem 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust height as needed */
}

.hero-content {
  max-width: 600px; /* Adjust based on content size */
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  padding: 10px 30px;
  background: linear-gradient(45deg, #2f1c53, #f6d1fd);
  /* Vibrant color for the CTA button */
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e64a19; /* Darker shade for hover effect */
}

/* Services Section Styling */
.services {
  background-color: #222;
  color: #fff;
  padding: 50px 10%;
  text-align: center;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-item {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.service-item:hover {
  transform: translateY(-10px);
}

.service-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

h3 {
  margin-bottom: 40px;
}

h4 {
  margin-top: 20px;
  color: #f6d1fd; /* Accent color for headings */
}

p {
  font-size: 16px;
  margin-top: 10px;
}

/* About Section Styling */
.about {
  background-color: #121212;
  color: #ffffff;
  padding: 50px 10%;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.stylist-photo {
  flex-basis: 40%; /* Adjust based on preference */
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.about-text {
  flex-basis: 50%; /* Adjust based on preference */
}

.about h3 {
  margin-bottom: 20px;
  color: #e0e0e0;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
}

/* Portfolio Section Styling */
.portfolio {
  background-color: #121212;
  color: #ffffff;
  padding: 50px 10%;
  text-align: center;
}

.portfolio h3 {
  margin-bottom: 30px;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.portfolio-item {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-item:hover {
  transform: translateY(-10px);
}

.disclaimer {
  background-color: #121212;
  color: #787878; /* Lighter grey for readability against the dark background */
  padding: 20px 10%;
  font-size: 14px; /* Smaller font size for less emphasis */
  text-align: center;
  border-top: 1px solid #333; /* Subtle border to visually separate from the main content */
}

.disclaimer-content {
  max-width: 800px; /* Ensures the text doesn't stretch too far on wider screens */
  margin: 0 auto;
}

.disclaimer p {
  margin: 0;
  line-height: 1.6;
}

.site-footer {
  background-color: #121212;
  color: #ffffff;
  padding: 50px 10%;
  font-size: 16px;
  line-height: 1.6;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-right: 20px;
}

.footer-section h4 {
  color: #f6d1fd;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section a {
  color: #787878;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer-section a:hover {
  color: #ffffff;
}

.disclaimer {
  color: #787878; /* Lighter grey for readability */
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #333;
  padding: 20px 0;
}

.disclaimer p {
  margin: 0;
  max-width: 800px;
  margin: 0 auto;
}

#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #333; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#backToTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.red {
  color: red;
}
